* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bold-text {
    font-weight: bold;
}

html,
body,
.root,
.App {
    height: 100%;
}

.main {
    height: 100%;
    margin-bottom: 0rem;
    width: 75%;
    position: absolute;
    right: 0;
}

.row {
    margin-left: 0rem;
    margin-right: 0rem;
}

.row .col {
    padding-left: 0em;
    padding-right: 0em;
    height: 100%;
}

.nav-wrapper .container div {
    width: fit-content;
    height: fit-content;
    margin: 0;
    top: 0;
    position: fixed;
}

.side-nav {
    box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.28);
    border-radius: 4px;
    height: 200vh; /* 100% Full-height */
    width: 25vw; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 64px; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.side-nav .container .initials-container {
    display: flex;
    flex-direction: column;
}

.side-nav .container .initials-container .initials {
    align-self: center;
    padding: 0.4rem;
    width: 3.4rem;
    height: 3.4rem;
    margin-top: 3rem;
}

.side-nav .screen-name {
    padding: 1rem 0rem;
    position: sticky;
}

.side-nav .screen-name p {
    padding-top: 0.3125rem;
    padding-bottom: 0.5rem;
    padding-left: 3.25rem;
}

.side-nav .current-screen-name,
.side-nav .section .screen-name:hover {
    background-color: #ffd850;
    cursor: pointer;
}

.side-nav .close-icon {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    border-radius: 90rem;
}

.side-nav .close-icon:hover {
    text-shadow: 0 0 2px #000;
}

.side-nav .logout :hover {
    text-decoration: underline;
    cursor: pointer;
}

.todo-list {
    margin-top: 2vw;
}

.card .card-title {
    padding-left: 1.5vw;
}

.card .card-content {
    padding: 2vw 1.5vw;
    padding-top: 1vw;
}

.card .card-content p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.width-250px {
    width: 250px;
}

@media screen and (max-width: 600px) {
    .side-nav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    .card {
        display: block;
        margin-right: 1vw;
    }
    .card .card-title {
        padding-left: 4vw;
    }
    .card .card-content {
        padding: 2vw 4vw;
        padding-top: 1vw;
        padding-bottom: 6vw;
    }
}

.todo-list .more-info {
    width: 100%;
    padding-top: 0vw;
    padding-bottom: 1vw;
    padding-right: 2vw;
    cursor: pointer;
    text-align: end;
}

.todo-list .more-info span:hover {
    text-decoration: none;
    text-decoration: underline;
    text-decoration-color: pink;
}

.todo-list .section-title {
    font-weight: bold;
    font-size: 2rem;
}

.whattodo-wrapper {
    margin-left: 3vw;
    margin-right: 3vw;
}

.whattodo-wrapper .filter-bar {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.whattodo-wrapper .filter-bar .filter {
    margin: 2vw;
    margin-left: 5vw;
}

.whattodo-wrapper .whattodo-container {
    margin-left: 4vw;
    margin-right: 4vw;
}

.whattodo-wrapper .whattodo-container .topic {
    width: fit-content;
    height: fit-content;
    margin: 0;
}

.create-todo {
    width: 100%;
    height: 100%;
}

.create-todo .todo-title-wrapper {
    margin-top: 5vh;
    min-height: 15vh;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-todo .todo-title-wrapper .input-field {
    width: 80%;
}

.create-todo .todo-title-wrapper #title {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 5vh;
    border-bottom: 0em;
}

.create-todo .todo-title-wrapper #title:focus {
    border-bottom: 0em;
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
}

.create-todo .summary-wrapper {
    margin-top: 10vh;
    display: flex;
    align-items: center;
}

.create-todo .title {
    margin-left: auto;
    width: fit-content;
    height: fit-content;
    font-size: 2vw;
    font-weight: bold;
}

.create-todo .description-wrapper .title {
    margin-left: 0rem;
}

.create-todo .description-wrapper img {
    width: 20vw;
    height: auto;
    border-radius: 4px;
}

.create-todo .steps-wrapper .steps-container {
    margin-top: 13vh;
}

.create-todo .steps-wrapper .steps-container .step-item img {
    width: 15vw;
    height: auto;
}

.create-todo .steps-wrapper .steps-container .step-item .step-label {
    font-size: 1.5vw;
    margin: 8px 0px;
    font-weight: 500;
}

.create-todo .steps-wrapper .btn-add-container {
    margin-top: 7vh;
    margin-bottom: 15vh;
}

.your-todos {
    height: 100%;
}

.your-todos .tabs {
    margin-top: 6vh;
    margin-bottom: 4vh;
}

.your-todos .tabs .tab-item {
    text-align: center;
    padding-top: 1vw;
    font-size: 18px;
    border-radius: 4px;
}

.your-todos .tabs .tab-item:hover {
    background-color: rgba(255, 192, 203, 0.2);
}

.your-todos .tabs .active {
    border-bottom: 1px solid hotpink;
}

.your-todos .your-todo-container .card .card-content-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
}

.your-todos
    .your-todo-container
    .card
    .card-content-wrapper
    .card-content-container {
    margin: 8px;
}

.your-todos
    .your-todo-container
    .card
    .card-content-wrapper
    .card-content-container
    .card-title {
    font-weight: bold;
}

.your-todos
    .your-todo-container
    .card
    .card-content-wrapper
    .card-content-container
    .card-content {
    padding-bottom: 1vw;
}

.your-todos
    .your-todo-container
    .card
    .card-content-wrapper
    .card-content-container
    .card-topic {
    opacity: 80%;
    font-size: 14px;
    margin-left: 2vw;
}

.your-todos .your-todo-container .card .card-content-wrapper .card-image img {
    width: 30vw;
    height: auto;
    margin: 8px;
    margin-left: 0px;
    border-radius: 4px;
}

.your-todos
    .your-todo-container
    .card
    .card-content-wrapper
    .card-content-container
    .card-see-more {
    text-align: end;
    margin-right: 2vw;
    cursor: pointer;
}

.your-todos
    .your-todo-container
    .card
    .card-content-wrapper
    .card-content-container
    .card-see-more:hover {
    text-decoration: underline;
}

.no-todo-notif-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-todo-notif-wrapper .no-todo-notif-container {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 27vw;
}

.no-todo-notif-wrapper .no-todo-notif-container .no-todo-notif {
    margin: 8px;
}

.no-todo-notif-wrapper .no-todo-notif-container .no-todo-notif .no-todo-image {
    display: flex;
    justify-content: center;
}

.no-todo-notif-wrapper
    .no-todo-notif-container
    .no-todo-notif
    .no-todo-image
    img {
    width: 25vw;
    border-radius: 4px;
}

.no-todo-notif-wrapper .no-todo-notif-container .no-todo-notif .no-todo-title {
    font-size: 1.5vw;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 8px;
    font-weight: 500;
}

.no-todo-notif-wrapper
    .no-todo-notif-container
    .no-todo-notif
    .no-todo-content {
    margin-top: 8px;
    margin-bottom: 8px;
}

.no-todo-notif-wrapper .no-todo-notif-container .no-todo-notif .create-button {
    margin-top: 8px;
    margin-bottom: 12px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.no-todo-notif-wrapper
    .no-todo-notif-container
    .no-todo-notif
    .create-button
    p {
    margin-top: 4px;
    margin-bottom: 8px;
    text-align: center;
}

.no-todo-notif-wrapper
    .no-todo-notif-container
    .no-todo-notif
    .button-container {
    text-align: center;
}

.no-todo-notif-wrapper
    .no-todo-notif-container
    .no-todo-notif
    .button-container
    button {
    background-color: hotpink;
    width: 10vw;
}

.button-container .page-num-container {
    margin: 0px 8px 12px;
    font-size: 1.5vw;
    font-weight: 450;
}

.loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: deeppink;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.material-icons {
    cursor: pointer;
}

.upload-result-wrapper {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.upload-result-wrapper .upload-result-container {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 8px;
    width: 40vw;
    min-height: 200px;
}

.upload-result-wrapper .upload-result-container .upload-result-image img {
    width: 20vw;
}

/* The Close Button */
.upload-result-wrapper .upload-result-container .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    height: fit-content;
}

.upload-result-wrapper .upload-result-container .close:hover,
.upload-result-wrapper .upload-result-container .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.upload-result-wrapper .upload-result-container .upload-result {
    font-weight: 500;
    margin-top: 8px;
}
